@import "../../lib/mixins";
@import "../../lib/var";

.app-header {
  position: fixed;

  @include min-screen(sm) {
    position: absolute;
  }

  &__wrap {
    padding: 17px 23px;

    @include min-screen(lg) {
      padding: 43px 58px;
    }
  }

  &__social {
    animation: moveInRight 1s ease-out;

    &__link {
      position: absolute;
      padding: 4px 6px;
      border-radius: 9px;
      transition: $transition;
      border: 1px solid $clr-ntrl-min;
      height: 46px;
      @include align-justify-center;
      right: 55px;
      top: 25px;
      animation: moveInRight 1s ease-out;

      @media (min-width: 360px) {
        padding: 4px 16px;
      }
      @include min-screen(sm) {
        display: flex !important;
        position: relative;
        width: auto;
        animation: none;
        top: 0;
        right: unset;
        border: 1px solid transparent;
      }

      &:hover {
        border-color: $clr-ntrl-min;
      }
    }

    &__icon {
      font-size: 25px;
      padding: 0;

      @include min-screen(sm) {
        display: none;
      }

      &.active {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &.active {
    background: rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 0 69px 44px rgba(0, 0, 0, 0.5);
    z-index: 7000;

    @include min-screen(sm) {
      background: transparent !important;
      box-shadow: none;
    }

    .app-header__wrap {
      padding: 12px 23px;

      @include min-screen(sm) {
        padding: 17px 23px;
      }
    }

    .logo-wrap {
      &__icon {
        width: 45px;
        height: 43px;
        z-index: 99999;

        @include min-screen(sm) {
          width: 50px;
          height: 58px;
        }
      }

      &__text {
        display: none;
      }
    }
  }
}

.logo-wrap {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  &__icon {
    width: 50px;
    height: 58px;

    @include min-screen(lg) {
      width: 85px;
      height: 94px;
    }
  }

  &__text {
    width: 179px;
    height: 52px;
    margin-left: -15px;

    @include min-screen(md) {
      display: block !important;
    }
    @include min-screen(lg) {
      width: 244px;
      height: 83px;
      margin-left: 0;
    }
  }
}
