@import "../../quasar.variables";
@import "../../lib/var";
@import "../../lib/mixins";
@import "../../lib/animation";

.about-section {
  padding: 65px 30px 148px;

  @include min-screen(md) {
    padding: 155px 58px;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
  }
}

.block-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 170px 218px 170px);
  grid-column-gap: 7px;
  grid-row-gap: 15px;
  width: 100%;
  max-width: 252px;

  @include min-screen(sm) {
    max-width: 70%;
  }
  @include min-screen(md) {
    display: flex;
    width: auto;
    max-width: 100%;
  }

  &__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
    height: 170px;
    width: 100%;
    font-family: $light-italic;

    @include min-screen(md) {
      width: 137px;
      height: 206px;
    }

    + .block-list__item {
      @include min-screen(md) {
        margin-left: 19px;
      }
    }

    &:first-child {
      grid-area: 1 / 2 / 2 / 3;
    }

    &:nth-child(2) {
      grid-area: 1 / 1 / 2 / 2;
    }

    &:nth-child(4) {
      grid-area: 3 / 2 / 4 / 3;
    }

    &:nth-child(5) {
      grid-area: 3 / 1 / 4 / 2;
    }

    &--primary {
      background: rgba(157, 162, 202, 0.3);
      height: 100%;
      width: 100%;
      justify-content: flex-start;
      grid-area: 2 / 1 / 3 / 3;

      @include min-screen(md) {
        height: 265px;
        width: 187px;
      }

      .block-list__text {
        margin-bottom: 2px;
        margin-top: -12px;
        font-size: 15px;

        @include min-screen(sm) {
          margin-bottom: 17px;
          font-size: $base-font-size;
          margin-top: 0;
        }
      }
    }
  }

  &__icon {

   &--1 {
     margin-bottom: 29px;

     @include min-screen(sm) {
       margin-bottom: 29px;
     }

      .q-icon {
        font-size: 41px;
      }
    }

    &--2 {
      margin-bottom: 25px;

      .q-icon {
        font-size: 44px;

        @include min-screen(sm) {
          font-size: 46px;
        }
      }
    }

    &--3 {
      .q-icon {
        font-size: 136px;

        @include min-screen(sm) {
          font-size: 144px;
        }
      }
    }

    &--4 {
       margin-bottom: 30px;

      @include min-screen(sm) {
        margin-bottom: 26px;
      }

      .q-icon {
        font-size: 36px;

        @include min-screen(sm) {
          font-size: 50px;
        }
      }
    }

    &--5 {
      margin-bottom: 26px;

      .q-icon {
        font-size: 47px;

        @include min-screen(sm) {
          font-size: 62px;
        }
      }
    }
  }

  &__text {
    line-height: 16px;
  }

  &__notice {
    font-size: 12px;
    line-height: 13px;
    color: #8A96D6;
    padding: 0 7px;

    @include min-screen(sm) {
      font-size: 11px;
      line-height: 12px;
    }
  }

}

.cycle-wrap {
  margin-bottom: 107px;

  @include min-screen(md) {
    margin-bottom: 140px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #A4A5AB;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    max-width: 95%;

    @include min-screen(sm) {
      font-size: 44px;
      line-height: 38px;
    }
    @include min-screen(md) {
      margin-bottom: 38px;
      font-size: 53px;
      line-height: 49px;
      max-width: 55%;
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 12px;
    margin-bottom: 53px;

    @include min-screen(sm) {
      font-size: 17px;
      line-height: 24px;
    }
    @include min-screen(md) {
      line-height: 35px;
      color: $accent;
      letter-spacing: 16px;
      margin-bottom: 65px;
    }
  }
}

.about-wrap {
  width: 100%;

  @include min-screen(md) {
    margin-bottom: 144px;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 12px;

    @include min-screen(md) {
      font-size: 30px;
      line-height: 73px;
      letter-spacing: 16px;
    }
  }

  &__text {
    margin-bottom: 50px;

    @include min-screen(sm) {
      max-width: 65%;
    }
    @include min-screen(md) {
      margin-bottom: 84px;
      align-items: center;
      max-width: 100%;
    }

    &__num {
      color: $primary;
      font-size: 107px;
      line-height: .9;
      margin-right: 12px;

      @include min-screen(md) {
        line-height: 140px;
      }
    }

    &__notice {
      font-size: 25px;
      line-height: 31px;
      max-width: 95%;

      @include min-screen(md) {
        max-width: 405px;
      }

      span {
        color: $primary;
      }
    }
  }
}

.timeline {
  @include align-center;
  min-height: 295px;
  position: relative;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  max-width: 295px;

  @include min-screen(md) {
    padding-left: 120px;
    padding-right: 200px;
    flex-direction: row;
  }

  &:before {
    content: '';
    position: absolute;
    width: calc(100% - 70px);
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-image: url("src/assets/img/svg/line-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    @include min-screen(md) {
      width: calc(100% - 70px);
      height: 31px;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("src/assets/img/svg/line.svg");
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include min-screen(md) {
      height: 100%;
      justify-content: space-between;
    }

    &__num {
      font-family: $thin-italic;
      font-size: 90px;
      line-height: 140px;
      transform: rotate(-3deg);
    }

    &__bottom {
      font-family: $light;
      font-size: 15px;
      line-height: 22px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      min-width: 250px;

      @include min-screen(md) {
        font-size: $base-font-size;
        line-height: 20px;
        min-width: 10px;
        display: block;
        max-width: 138px;
      }

      span {
        font-family: $light-italic;
        font-size: 13px;
        line-height: 15px;

        @include min-screen(md) {
          margin-top: 14px;
          font-size: 11px;
        }
      }

      p {
        max-width: 130px;

        @include min-screen(md) {
          max-width: 100%;
        }
      }
    }

    &__img {
      width: 144px;
      height: 144px;
      margin-bottom: 10px;
    }

    &--1 {
      align-items: center;
      transform: translate(52px, -50px);

      @media (min-width: 370px) {
        transform: translate(37px, -50px);
      }
      @include min-screen(md) {
        transform: translate(0);
        align-items: flex-start;
      }

      .timeline__item__bottom {
        max-width: 180px;
        padding-left: 20px;
        min-width: 10px;

        @include min-screen(md) {
          max-width: 260px;
          padding-left: 0;
        }
      }
    }

    &--2 {
      transform: translate(-2px,-53px);

      @media (min-width: 370px) {
        transform: translate(-17px,-53px);
      }
      @include min-screen(md) {
        transform: translateY(-34px);
      }

      .timeline__item__bottom {
        flex-direction: row-reverse;
        transform: translate(32px, -73px);

        @include min-screen(md) {
          transform: translate(0);
        }
      }
    }

    &--3 {
      transform: translate(42px, -63px);

      @media (min-width: 370px) {
        transform: translate(30px, -63px);
      }
      @include min-screen(md) {
        transform: translateY(-39px);
      }

      .timeline__item__bottom {
        transform: translate(-34px, -74px);

        @include min-screen(md) {
          transform: translate(0);
        }
      }
    }

    &--4 {
      transform: translate(73px, -137px);

      @media (min-width: 370px) {
        transform: translate(64px, -137px);
      }
      @include min-screen(md) {
        transform: translateY(-37px);
      }

      .timeline__item__bottom {
        transform: translate(-60px, -74px);

        @include min-screen(md) {
          transform: translate(0);
        }
      }
    }
  }

  &__point {
    background: $clr-ntrl-min;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 0 auto 43px;

    &--lg {
      width: 26px;
      height: 26px;

      position: absolute;
      top: 63%;
      left: -22px;

      @include min-screen(md) {
        margin: 0 0 43px 35%;
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }
}

.about-carousel {
  position: relative;
  width: calc(100% + 60px);
  margin-bottom: 80px;

  @include min-screen(md) {
    width: calc(100% + 116px);
    margin-bottom: 157px;
  }
}

.about-slider {
  height: 400px;
  background: transparent;

  @include min-screen(md) {
    height: 480px;
  }

  &__wrap {
    height: 355px;

    @include min-screen(md) {
      height: 420px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;

    @include min-screen(md) {
      width: 65%;
    }

    + .about-slider__img {
      @include min-screen(md) {
        margin-left: 21px;
      }
    }
  }
}

.guarantees-wrap {
  @include min-screen(md) {
    margin-bottom: 154px;
  }

  &__title {
    display: flex;
    margin-bottom: 30px;
    color: #9193A8;
    font-size: 54px;
    line-height: 30px;
    flex-direction: column;

    @include min-screen(md) {
      flex-direction: row;
      margin-bottom: 60px;
      font-size: 64px;
    }
  }

  &__notice {
    margin-bottom: 53px;
    font-size: 19px;
    line-height: 23px;
    color: $secondary;
    text-align: center;

    @include min-screen(sm) {
      max-width: 610px;
      margin-bottom: 60px;
      font-size: 18px;
    }
  }

  &__items {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    @include min-screen(sm) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    @include min-screen(md) {
      min-width: 180px;
      margin-bottom: 0;
    }

    &__img {
      margin-bottom: 16px;
      @include align-justify-center;
      background: rgba(89, 98, 166, 0.5);

      &--1 {
        border-radius: 45% 55% 59% 41% / 60% 49% 51% 40% ;
        width: 74px;
        height: 77px;
      }

      &--2 {
        width: 77px;
        height: 74px;
        border-radius: 41% 59% 69% 31% / 50% 56% 44% 50%;
      }

      &--3 {
        width: 78px;
        height: 72px;
        border-radius: 62% 38% 38% 62% / 50% 47% 53% 50%;
      }

      .q-icon {
        font-size: 43px;
      }
    }

    &__text {
      font-family: $bold;
      color: #D7D7D7;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 2px;
      text-align: center;
      max-width: 180px;
    }
  }
}

.logo {
  width: 195px;
  height: 48px;
  margin-top: 21px;

  @include min-screen(md) {
    width: 176px;
    height: 43px;
    margin-left: 28px;
    margin-top: 0;
  }
}
