@import "../../quasar.variables";
@import "../../lib/var";
@import "../../lib/mixins";
@import "../../lib/animation";

.about-section {
  padding: 155px 58px;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
  }
}

.block-list {
  &__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
    height: 206px;
    width: 137px;
    font-family: $light-italic;

    + .block-list__item {
      margin-left: 19px;
    }

    &--primary {
      background: rgba(157, 162, 202, 0.3);
      height: 265px;
      width: 187px;
      justify-content: flex-start;

      .block-list__text {
        margin-bottom: 17px;
      }
    }
  }

  &__icon {

   &--1 {
     margin-bottom: 29px;

      .q-icon {
        font-size: 41px;
      }
    }

    &--2 {
      margin-bottom: 25px;

      .q-icon {
        font-size: 46px;
      }
    }

    &--3 {

      .q-icon {
        font-size: 144px;
      }
    }

    &--4 {
       margin-bottom: 26px;

      .q-icon {
        font-size: 50px;
      }
    }

    &--5 {
      margin-bottom: 26px;

      .q-icon {
        font-size: 62px;
      }
    }
  }

  &__text {
    line-height: 16px;
  }

  &__notice {
    font-size: 11px;
    line-height: 12px;
    color: #8A96D6;
    padding: 0 7px;
  }

}

.cycle-wrap {
  margin-bottom: 140px;

  &__title {
    margin-top: 0;
    margin-bottom: 38px;
    color: #A4A5AB;
    font-size: 53px;
    line-height: 49px;
    text-align: center;
    max-width: 55%;
  }

  &__subtitle {
    font-size: 17px;
    line-height: 35px;
    color: $accent;
    letter-spacing: 16px;
    margin-bottom: 65px;
  }
}

.about-wrap {
  margin-bottom: 144px;
  width: 100%;

  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 73px;
    letter-spacing: 16px;
  }

  &__text {
    align-items: center;
    margin-bottom: 84px;

    &__num {
      color: $primary;
      font-size: 107px;
      line-height: 140px;
      margin-right: 12px;
    }

    &__notice {
      font-size: 25px;
      line-height: 31px;
      max-width: 405px;

      span {
        color: $primary;
      }
    }
  }
}

.timeline {
  @include align-center;
  min-height: 295px;
  position: relative;
  justify-content: space-between;
  width: 100%;
  padding-left: 120px;
  padding-right: 200px;

  &:before {
    content: '';
    position: absolute;
    width: calc(100% - 70px);
    height: 31px;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("src/assets/img/svg/line.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__num {
      font-family: $thin-italic;
      font-size: 90px;
      line-height: 140px;
      transform: rotate(-3deg);
    }

    &__bottom {
      font-family: $light;
      line-height: 20px;
      max-width: 138px;

      span {
        margin-top: 14px;
        font-family: $light-italic;
        font-size: 11px;
        line-height: 15px;
      }
    }

    &__img {
      width: 144px;
      height: 144px;
      margin-bottom: 10px;
    }

    &--1 {
      align-items: flex-start;

      .timeline__item__bottom {
        max-width: 260px;
      }
    }

    &--2 {
      transform: translateY(-34px);
    }

    &--3 {
      transform: translateY(-39px);
    }

    &--4 {
      transform: translateY(-37px);
    }
  }

  &__point {
    background: $clr-ntrl-min;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 0 auto 43px;

    &--lg {
      width: 26px;
      height: 26px;
      margin: 0 0 43px 35%;
    }
  }
}
