@import "../../lib/mixins";
@import "../../lib/var";

.objects-section {
  @include align-column-center;
  padding: 64px 16px 140px;

  @include min-screen(md) {
    padding: 106px 85px 170px;
  }
  @include min-screen(lg) {
    padding: 116px 175px 200px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 27px;
    line-height: 25px;
    letter-spacing: 10px;
    text-align: center;

    @media (min-width: 420px) {
      font-size: 35px;
      line-height: 31px;
      letter-spacing: 14px;
    }
    @include min-screen(lg) {
      margin-bottom: 72px;
      font-size: 42px;
      line-height: 43px;
    }
  }
}

.objects-wrap {
  max-width: 950px;
  position: relative;
}

.object {
  padding: 38px 0 0 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: 360px) {
    padding: 48px 0 0 56px;
  }
  @include min-screen(sm) {
    padding: 48px 96px 20px 56px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  &--top {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);

    &.active {
      position: relative;
      top: 0;
      bottom: unset;
      right: unset;
      transform: translate(0);
    }
  }

  &__img {
    width: 275px;
    height: 345px;
    position: relative;

    @media (min-width: 360px) {
      width: 289px;
      height: 385px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% + 59px);
      height: 282px;
      transform: translate(-52px, -56px);
      background-image: url("src/assets/img/svg/objects-img-border.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      @media (min-width: 360px) {
        width: calc(100% + 71px);
        height: 282px;
        transform: translate(-54px, -48px);
      }
    }

    &--wide {
      width: 260px;
      height: 212px;

      @media (min-width: 360px) {
        width: 300px;
        height: 225px;
      }
      @include min-screen(xs) {
        width: 416px;
        height: 312px;
      }

      &:after {
        width: 100%;
        transform: translate(-40px, -75px);

        @media (min-width: 360px) {
          transform: translate(-46px, -64px);
        }
        @include min-screen(xs) {
          width: calc(100% + 56px);
          transform: translate(-111px, -48px);
        }
      }
    }
  }

  &__toggle {
    text-align: right;
    transform: translateY(66px);
    color: #C2C2C2;
    margin-left: auto;
    font-family: $light;
    transition: $transition;

    @media (min-width: 420px) {
      margin-right: 50px;
    }
    @include min-screen(sm) {
      transform: translateY(15px);
      margin-right: 0;
    }

    &:hover {
      color: #fff;
    }

    &__title {
      font-size: 21px;
      margin-bottom: 6px;
      line-height: 25px;
    }

    &__subtitle {
      font-size: 12px;

      @media (min-width: 360px) {
        font-size: 16px;
      }
    }
  }

  &__line {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 265px;
    height: 3px;
    background: #50599D;
    transform: translate(0, 85px);

    @media (min-width: 420px) {
      transform: translate(-20%, 85px);
    }
    @include min-screen(sm) {
      width: 330px;
      transform: translate(-94px, 15px);
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #50599D;
    }
  }

  &.active {
    .object {
      &__toggle {
        color: #fff;
        transform: translateY(44px);

        @include min-screen(sm) {
          transform: translateY(15px);
        }

        &__title {
          font-family: $bold;
          font-size: 28px;
          margin-bottom: 1px;
          line-height: 1;

          @include min-screen(sm) {
            font-size: 29px;
            margin-bottom: 10px;
            line-height: 35px;
          }
        }

        &__subtitle {
          font-size: 14px;

          @media (min-width: 430px) {
            font-size: 16px;
          }
          @include min-screen(sm) {
            font-size: 18px;
          }
        }
      }

      &__line {
        background-image: url("src/assets/img/svg/toggle-line-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 282px;
        height: 121px;
        transform: translate(0, 68px);
        background-color: transparent;

        @media (min-width: 420px) {
          transform: translate(-20%, 88px);
          height: 151px;
          width: 292px;
        }
        @include min-screen(sm) {
          width: 587px;
          height: 156px;
          transform: translate(-81px, 25px);
          background-image: url("src/assets/img/svg/toggle-line.svg");
        }

        span {
          display: none;
        }
      }
    }
  }
}
