@import "../../lib/mixins";

.team-banner {
  height: 100vh;
  background-image: url("src/assets/img/team-banner-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 28px 25px;

  @media (min-width: 360px) {
    padding: 38px 35px;
  }
  @include min-screen(sm) {
    background-image: url("src/assets/img/team-banner.png");
    background-position: top center;
  }
  @include min-screen(md) {
    height: 648px;
    padding: 64px 70px;
  }
  @include min-screen(lg) {
    background-size: 100%;
  }

  &__logo {
    &__icon {
      width: 45px;
      height: 64px;
      margin-right: 15px;

      @include min-screen(xs) {
        width: 55px;
        height: 67px;
      }
    }

    &__text {
      line-height: 17px;
      font-size: 12px;
      letter-spacing: 2px;

      @media (min-width: 360px) {
        font-size: 14px;
      }
    }
  }
}
